<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            font-family: Verdana;
            background-color: #eeeeee;
        }

        footer {
            color: #eee;
            background-color: #222222;
        }

        h1 {
            font-weight: bold;
            color: darkgray;
        }

        h2 {
            font-weight: bold;
            color: darkgray;
        }

        figure {
            display: block;
            text-align: center;
        }

        img {
            display: inline-block;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
