@{
    Layout = "_Layout3";
    ViewData["Title"] = "Caldas da Rainha";
}
<div class="container">
    <h1>Caldas da Rainha</h1>
    <p>
        <b>Caldas da Rainha</b> é uma cidade portuguesa do distrito de Leiria, situada na província da
        Estremadura com 30 426 habitantes no seu perímetro urbano e integrando a Comunidade
        Intermunicipal do Oeste na região do Centro
    </p>
    <p>
        É sede do município das Caldas da Rainha com 255,69 km<sup>2</sup> de área e 50 917 habitantes
        subdividido em 12 freguesias. O município é limitado:
        <ul>
            <li>
                A Nordeste pelo município de Alcobaça
            </li>

            <li>
                A Leste por Rio Maior
            </li>
            <li>
                A Sul pelo Cadaval
            </li>

            <li>
                A Oeste pelo Bombarral e por Óbidos
            </li>

            <li>
                A Noroeste pelo Oceano Atlântico.
            </li>
        </ul>
    </p>


    <figure>
        <img src="~/img/Caldas_da_Rainha_freguesias_2013.svg.png" alt="Mapa do concelho Caldas da Rainha" width="300" height="350" />
        <figcaption>Figure 1 - Freguesias do concelho das caldas da Rainha</figcaption>
    </figure>

    <p>
        Na Praça da República (conhecida popularmente como "Praça da Fruta") realiza-se todos os
        dias, da <span style="color:red">parte da manhã</span>, ao ar livre, o único mercado diário hortofrutícola do país,
        praticamente inalterável desde o final do século XIX.
    </p>

    <br />

    <h2>
        História
    </h2>
    <br />
    <p>
        Acredita-se que, em 1484, durante uma viagem de <a target="_blank" href="https://pt.wikipedia.org/wiki/%C3%93bidos">Óbidos</a> à Batalha, a rainha D. Leonor,
        esposa de João II de Portugal, e a sua corte, tenham passado por um local onde várias pessoas
        do povo se banhavam em águas de odor intenso. Fazendo alto, a rainha indagou-lhes por que
        razão o faziam, uma vez que, naquele tempo, o banho não era comum, muito menos em águas
        de odor tão acentuado, sendo-lhe respondido que eram doentes, e que aquelas águas
        possuíam poderes curativos. A rainha quis comprovar a veracidade da informação e banhou-se
        também naquelas águas, de vez que também ela era doente (não existe unanimidade entre os
        autores com relação à natureza do mal: alguns autores afirmam que a rainha padecia de uma
        úlcera no peito, outros, problemas de pele, e outros ainda, que tinha apenas uma ferida no
        braço).
    </p>

    <figure>
        <img src="~/img/Caldas_da_Rainha_Pavilhões_do_Parque.jpg" alt="Pavilhões do Parque D.Carlos I Caldas da Rainha" width="450" height="400" />
        <figcaption>Figure 2 - Pavilhões do Parque do Hospital Termal</figcaption>
    </figure>

    <p>
        <span style="background-color:#50e518">
            De qualquer modo, de acordo com a lenda, a soberana curou-se e, no ano seguinte,
            determinou erguer naquele lugar um hospital termal para atender todos aqueles que nele se
            quisessem tratar.
        </span>
    </p>
    <br />

    <h2>
        Geografia
    </h2>
    <br />
    <p>
        O município das Caldas da Rainha está dividido em 12 freguesias:
    </p>
    <ol>
        <li>A dos Francos</li>
        <li>Alvorninha</li>
        <li>Carvalhal Benfeito</li>
        <li>Foz do Arelho</li>
        <li>Landal</li>
        <li>Nadadouro</li>
        <li>Nossa Senhora do Pópulo, Coto e São Gregório (Caldas da Rainha)</li>
        <li>Salir de Matos</li>
        <li>Santa Catarina</li>
        <li>Santo Onofre e Serra do Bouro (Caldas da Rainha)</li>
        <li>Tornada e Salir do Porto</li>
        <li>Vidais</li>
    </ol>
</div>
<footer>
    <div class="container">
        <b>
            Caldas da Rainha, <span style="text-transform:capitalize">@DateTime.Now.ToString("MMMM")</span> @DateTime.Now.Year – Visite o site, clicando
            <a target="_blank" href="http://www.cm-caldas-rainha.pt/webcenter/portal/oracle/webcenter/page/scopedMD/s3cb489dd_3d2a_4d93_b095_c496cec0b515/PortalHome.jspx?wc.contextURL=%2Fspaces%2Fmcr&_afrLoop=1749025924072535&_adf.ctrl-state=11p1m72175_22&lado=esquerda&hide=s#!%40%40%3F_afrLoop%3D1749025924072535%26lado%3Desquerda%26hide%3Ds%26wc.contextURL%3D%252Fspaces%252Fmcr%26_adf.ctrl-state%3D11p1m72175_26">
                aqui!
            </a>
        </b>
    </div>
</footer>
